<p>{{state.date}}</p>
<p>Robots:</p>
<ul>
  <li *ngFor="let robot of state.robots" (click)="onClick(robot)">{{robot.aluminium}} {{robot.eta}} {{robot.typ}}</li>
</ul>
<p>Task Queue:</p>
<ul>
    <li *ngFor="let task of state.tasks">Build {{task.typ}}</li>
</ul>
